<ion-header>
  <ion-toolbar>
    <ion-title>Sign In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="signin">
    <img src="../../assets/icon/logo.png" alt="Shoota logo" />
    <form action="">
      <ion-label>First Name</ion-label>
      <ion-input placeholder="   ex: Joe" type="text"></ion-input>
      
      <ion-label>Last Name</ion-label>
      <ion-input placeholder="   ex: Smith" type="text"></ion-input>
      
      <ion-label>Email</ion-label>
      <ion-input placeholder="   ex: joe@example.com" type="email"></ion-input>
      
      <ion-label>Password</ion-label>
      <ion-input placeholder="   ex: Password" type="password"></ion-input>
      
      <ion-label>Confirm Password</ion-label>
      <ion-input placeholder="   ex: Password" type="password"></ion-input>
    </form>
  </div>
</ion-content>
