<ion-header>
  <ion-toolbar>
    <ion-title *ngFor="let user of users">Hello, {{user.first_name}}</ion-title>
    <ion-buttons slot="end" (click) = "removeLocalUser()">
      <ion-icon name="log-out-outline" style="font-size: 20px; padding-right: 10px;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="banner"></div>
  <div class="main">
    <h3>Your Favorite Teams <a class="add"  href="/signin-favteams">+</a></h3>
    <div class="user-fav" *ngFor="let user of users">


      <ion-card *ngFor="let team of teams">
        <ion-card-header>
          <div class="delete" (click) = "deleteFavTeam(user.id,team.id)">X</div>
          <img src="{{team.image}}" alt="{{team.name}}"  (click) = "toTeam(team.id,team.name,team.image)"/>
          <p (click) = "toTeam(team.id,team.name,team.image)">{{team.name}}</p>
        </ion-card-header>
      </ion-card>
 
    </div>

    <h3>Your Favorite Leagues  <a class="add"  href="/signin-favleagues">+</a> </h3>
    <div class="user-fav" *ngFor="let user of users">
      <ion-card *ngFor="let league of leagues">
        <ion-card-header>
          <div class="delete" (click) = "deleteFavLeague(user.id,league.id)">X</div>
          <img src="{{league.image}}" alt="{{league.title}}" (click)="toLeague(league.id,league.title)"/>
          <p (click)="toLeague(league.id,league.title)">{{league.title}}</p>
        </ion-card-header>
      </ion-card>
    </div>
  </div>
<br><br><br>
  <!-- Tabs -->
  <footer>
    <ion-button routerLink="/leagues" class="btnFooter" fill="clear">
      <ion-icon name="trophy-outline"></ion-icon>
    </ion-button>
    <ion-button routerLink="/teams" class="btnFooter" fill="clear">
      <ion-icon name="football-outline"></ion-icon>
    </ion-button>
    <ion-button routerLink="/user" class="btnFooter" fill="clear">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-button>
  </footer>
    
</ion-content>
