<ion-header>
  <ion-toolbar>
    <ion-title>Hello, User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="banner"></div>
  <div class="main">
    <h3>Your Favorite Teams</h3>
    <div class="user-fav">
      <ion-card>
        <ion-card-header>
          <img src="../../assets/icon/teams/Real_Madrid.png" alt="" />
          <p>Real Madrid</p>
        </ion-card-header>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <img src="../../assets/icon/teams/Real_Madrid.png" alt="" />
          <p>Real Madrid</p>
        </ion-card-header>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <img src="../../assets/icon/teams/At_Madrid.png" alt="" />
          <p>Atletico Madrid</p>
        </ion-card-header>
      </ion-card>
    </div>

    <h3>Your Favorite Leagues</h3>
    <div class="user-fav">
      <ion-card>
        <ion-card-header>
          <img src="../../assets/icon/leagues/LaLiga.png" alt="" />
          <p>LaLiga</p>
        </ion-card-header>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <img src="../../assets/icon/leagues/LaLiga.png" alt="" />
          <p>LaLiga</p>
        </ion-card-header>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <img src="../../assets/icon/leagues/LaLiga.png" alt="" />
          <p>LaLiga</p>
        </ion-card-header>
      </ion-card>
    </div>
  </div>
</ion-content>
