<ion-content>
  <div class="main">
    <img src="../../assets/icon/logo.png" alt="" />
    <h4>Choose Your Favorite Leagues!</h4>
  </div>
  <ion-list>
    <ion-item>
      <ion-avatar slot="end">
        <img src="../../assets/icon/leagues/Champions_League.png" />
      </ion-avatar>
      <ion-checkbox color="primary" slot="start"></ion-checkbox>

      <ion-label>
        <h2>Champions League</h2>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="end">
        <img src="../../assets/icon/leagues/LaLiga.png" />
      </ion-avatar>
      <ion-checkbox color="primary" slot="start"></ion-checkbox>

      <ion-label>
        <h2>LaLiga</h2>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="end">
        <img src="../../assets/icon/leagues/Premier_League.jpg" />
      </ion-avatar>
      <ion-checkbox color="primary" slot="start"></ion-checkbox>

      <ion-label>
        <h2>Premier League</h2>
      </ion-label>
    </ion-item>
  </ion-list>
  <div class="main">
    <ion-button color="success" expand="block">Shoota!</ion-button>

    <a href="">Skip</a>
  </div>
</ion-content>
