.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main img{
    width: 50%;
  margin: 5%;
}

.main a{
    margin-top: 10px;
    font-size: 13px;
}