<ion-header>
  <ion-toolbar>
    <ion-title>Teams & Players</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<!-- Make search work -->
<ion-content>
  <ion-list>
      <!-- <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/icon/teams/Real_Madrid.png" />
        </ion-avatar>
        <ion-label>
          <h2>Real Madrid</h2>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/icon/teams/At_Madrid.png" />
        </ion-avatar>
        <ion-label>
          <h2>Atletico Madrid</h2>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/icon/teams/Barcelona.png" />
        </ion-avatar>
        <ion-label>
          <h2>Barcelona</h2>
        </ion-label>
      </ion-item> -->
      <ion-item *ngFor="let team of teams">
        <ion-avatar slot="start">
          <img src="{{team.image}}" />
        </ion-avatar>
        <ion-label>
          <h2>{{team.name}}</h2>
        </ion-label>
      </ion-item>
  </ion-list>

  
</ion-content>
