<ion-header>
  <ion-toolbar>
    <ion-title>Teams & Players</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<!-- Make search work -->
<ion-content>
  <ion-list>
    <a class="nodecoration" routerLink="../selected-team">
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/icon/teams/Real_Madrid.png" />
        </ion-avatar>
        <ion-label>
          <h2>Real Madrid</h2>
        </ion-label>
      </ion-item>
    </a>

    <a class="nodecoration" routerLink="../selected-team">
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/icon/teams/At_Madrid.png" />
        </ion-avatar>
        <ion-label>
          <h2>Atletico Madrid</h2>
        </ion-label>
      </ion-item>
    </a>

    <a class="nodecoration" routerLink="../selected-team">
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/icon/teams/Barcelona.png" />
        </ion-avatar>
        <ion-label>
          <h2>Barcelona</h2>
        </ion-label>
      </ion-item>
    </a>
  </ion-list>

  
</ion-content>
