<ion-header>
  <ion-toolbar>
    <ion-title>Teams & Players</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Make search work -->
<ion-content>
  <ion-list>
    
      <ion-item *ngFor="let team of teams" (click)="onClick(team.id,team.name,team.image)">
        <ion-avatar slot="start">
          <img src="{{team.image}}" />
        </ion-avatar>
        <ion-label>
          <h2>{{team.name}}</h2>
        </ion-label>
      </ion-item>
      
  </ion-list>
<br><br><br>
  
</ion-content>

<footer>
  <ion-button routerLink="/leagues" class="btnFooter" fill="clear">
    <ion-icon name="trophy-outline"></ion-icon>
  </ion-button>
  <ion-button routerLink="/teams" class="btnFooter" fill="clear">
    <ion-icon name="football-outline"></ion-icon>
  </ion-button>
  <ion-button routerLink="/user" class="btnFooter" fill="clear">
    <ion-icon name="person-circle-outline"></ion-icon>
  </ion-button>
</footer>
