<ion-content>
  <div class="signin">
    <img src="../../assets/icon/logo.png" alt="Shoota logo" />
    <form action="">
      <ion-label>Email</ion-label>
      <ion-input
        placeholder="   ex: joe@example.com"
        type="email"
        name="email"
      ></ion-input>

      <ion-label>Password</ion-label>
      <ion-input
        placeholder="   ex: Password"
        type="password"
        name="password"
      ></ion-input>

      <div class="signin_button">
        <a href="">Register Now!</a>
        <ion-button color="success" type="success" name="submit"
          >Log In</ion-button
        >
      </div>
    </form>
  </div>
</ion-content>
