.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.league-status{
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ion-card-content{
    width: 100%;
    font-size: 12px;
}
