<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{data.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <div class="league-status">
      <ion-button color="primary" (click)="toMatches()">Matches</ion-button>
      <ion-button color="success">Standings</ion-button>
    </div>
    <ion-card *ngFor="let src of data.standing">
      <ion-card-content> <h3> {{src.name}} {{src.p}} {{src.diff}} {{src.pts}}</h3> </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<!-- Tabs -->
<footer>
  <ion-button routerLink="/leagues" class="btnFooter" fill="clear">
    <ion-icon name="trophy-outline"></ion-icon>
  </ion-button>
  <ion-button routerLink="/teams" class="btnFooter" fill="clear">
    <ion-icon name="football-outline"></ion-icon>
  </ion-button>
  <ion-button routerLink="/user" class="btnFooter" fill="clear">
    <ion-icon name="person-circle-outline"></ion-icon>
  </ion-button>
</footer>
