<ion-header>
  <ion-toolbar>
    <ion-title>Leagues</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Make search work -->
<ion-content>
  <ion-list>
    <ion-item *ngFor="let league of leagues" (click)="onClick(league.id,league.title)">
      <ion-avatar slot="start">
        <img src="{{league.image}}" />
      </ion-avatar>
      <ion-label>
        <h2>{{league.title}}</h2>
      </ion-label>
    </ion-item>

    
  </ion-list>
</ion-content>

 <!-- Tabs -->
 <footer>
  <ion-button routerLink="/leagues" class="btnFooter" fill="clear">
    <ion-icon name="trophy-outline"></ion-icon>
  </ion-button>
  <ion-button routerLink="/teams" class="btnFooter" fill="clear">
    <ion-icon name="football-outline"></ion-icon>
  </ion-button>
  <ion-button routerLink="/user" class="btnFooter" fill="clear">
    <ion-icon name="person-circle-outline"></ion-icon>
  </ion-button>
</footer>