<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>LaLiga</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <div class="league-status">
      <ion-button color="success">Matches</ion-button>
      <ion-button color="primary" (click) = "toStandings()">Standings</ion-button>
    </div>
    <ion-card>
      <ion-card-content> dd/mm/yyyy Barcelona vs. Real 0 - 0 </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content> dd/mm/yyyy Barcelona vs. Real 0 - 0 </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content> dd/mm/yyyy Barcelona vs. Real 0 - 0 </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content> dd/mm/yyyy Barcelona vs. Real 0 - 0 </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<!-- Tabs -->
<footer>
  <ion-button routerLink="/leagues" class="btnFooter" fill="clear">
    <ion-icon name="trophy-outline"></ion-icon>
  </ion-button>
  <ion-button routerLink="/teams" class="btnFooter" fill="clear">
    <ion-icon name="football-outline"></ion-icon>
  </ion-button>
  <ion-button routerLink="/user" class="btnFooter" fill="clear">
    <ion-icon name="person-circle-outline"></ion-icon>
  </ion-button>
</footer>